/*======================================
    CHAT BOX STYLES
======================================= */

.hr-clas {
    border-top: 1px solid #A12EB3;
}

.chat-box-main {
    max-height:500px;
    overflow:auto;
}
.chat-box-div {
    border:2px solid #A12EB3;
    border-bottom:2px solid #A12EB3;
} 
.chat-box-head {
    padding: 10px 15px;
border-bottom: 2px solid #A12EB3;
background-color: #B25AE5;
color: #fff;
text-align: center;

}

.chat-box-left {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #C5C5C5;
    font-size:12px;
}
.chat-box-left:after {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #C5C5C5;
    border-width: 15px;
    margin-left: -15px;
}

.chat-box-name-left {
    margin-top: 30px;
    margin-left: 60px;
    text-align:left;
    color:#049E64;
}
    .chat-box-name-left img {
        max-width:40px;
        border: 2px solid #049E64;
    }

    .chat-box-right {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #C5C5C5;
    font-size:12px;
}
.chat-box-right:after {
    top: 100%;
    right: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #C5C5C5;
    border-width: 15px;
    margin-left: -15px;
}

.chat-box-name-right {
    color: #354EA0;
    margin-top: 30px;
    margin-right: 60px;
    text-align:right;
}

.chat-box-name-right img {
        max-width:40px;
        border: 2px solid #354EA0;
    }
.chat-box-footer {
    background-color: #D8D8D8;
padding: 10px;
}
/*======================================
    CHAT BOX ONLINE STYLES
======================================= */


.hr-clas-low {
    border-top: 1px solid #C5C5C5;
}

.chat-box-online {
     max-height:554px;
    overflow:auto;
}
.chat-box-online-div {
    border:2px solid #03DB2F;
    border-bottom:2px solid #03DB2F;
} 

.chat-box-online-head {
    padding: 10px 15px;
border-bottom: 2px solid #03DB2F;
background-color: #03DB2F;
color: #fff;
text-align: center;

}

.chat-box-online-left {
    margin-left: 10px;
    text-align:left;
    color:#049E64;
}
    .chat-box-online-left img {
        max-width:30px;
        border:1px solid #049E64;
        margin-bottom:10px;
    }
    .chat-box-online-right {
    margin-right: 10px;
   text-align:right;
    color:#354EA0;
}
    .chat-box-online-right img {
       max-width:30px;
        border:1px solid #354EA0;
        margin-bottom:10px;
        
    }

    /*======================================
  NEW  CHAT  STYLES
======================================= */

.chat-box-new {
     max-height:554px;
    overflow:auto;
}
.chat-box-new-div {
    border:2px solid #ff6a00;
    border-bottom:2px solid #ff6a00;
} 

.chat-box-new-head {
    padding: 10px 15px;
border-bottom: 2px solid #ff6a00;
background-color: #ff6a00;
color: #fff;
text-align: center;

}


.listrepeated {
  border-top: 1px solid #f2f2f2;
  display: table;
  margin: 20px 0 0;
  padding: 25px 0 0;
  width: 100%;
}
.listrepeated .grid_1 {
  display: table-cell;
  float: none;
  padding: 0 15px 0 0;
  vertical-align: top;
  width: 55px;
}
.listrepeated .grid_2 {
  display: table-cell;
  float: none;
  vertical-align: top;
    direction: ltr;
}
.avtar {
  background:#f95e2e;
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  height: 35px;
  line-height: 34px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 35px;
}
.replied .avtar{
    background:#222;
}
.listrepeated .name {
  color: #202020;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 700;
  padding: 0 0 6px;
}
.listrepeated .datetxt {
  color: #979797;
  font-weight: normal;
}
.listrepeated .msg_txt {
  background: #f5f5f5;
  padding: 15px;
    width:93%;
    text-align: left;
}
.listrepeated p {
  display: inline;
  margin: 0;
  padding-bottom: 0;
}
.listrepeated.replied {
  direction: rtl;
}
.listrepeated.replied .grid_1{
    padding:0 0 0 15px;
}
.listrepeated.replied .grid_2{
    text-align: right;
}
.msg_container {
  margin-bottom: 30px;
}
.msg_container > h2 {
  font-size: 22px;
  font-weight: 700;
}

@media screen and (max-width:767px) {

.listrepeated .msg_txt{
    width:100%;
}
    #view-message {
  margin: 20px 0 0;
}
    
}