html, body {
	font-family: 'Lato';
	height: 100%;
}
a {
	color: #f95e2e;
}
.tile, .tile-heading, .tile-footer, .btn-primary, #column-left, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #f95e2e;
}
.btn-primary, #menu > li > a, #column-left.active #profile, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	border-color: #df562c;
}
#menu > li.active > a {
	background-color: #df562c;
}
#button-menu, .pagination > li > a, .pagination > li > span {
	color: #f95e2e;
}
#menu > li > a, #profile div i {
	color: #fff;
}
#header #button-menu + .navbar-brand {
	padding: 7px 0 0 7px;
}
/*login*/

html, body {
	height: 100%;
}
body {
	min-height: 100%;
}
.login {
	height: 100%;
	height: 100vh;
	width: 100%;
	background: url(../../view/image/o-login-bg.jpg) no-repeat 0 0;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}
.login:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 0.5;
	height: 100%;
	background: rgb(0,0,0); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,73,109,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,73,109,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,73,109,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,73,109,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,73,109,1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(0,73,109,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffae27', endColorstr='#de496d', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.login-inner {
	transform: -webkit-translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	margin: 0 auto;
	z-index: 10;
	top: 50%;
	left: 0;
	right: 0;
	width: auto;
}
.login-wrapper {
	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
	width: auto;
	background: #fff;
	margin: 0 auto;
	max-width: 500px;
	border-radius: 2px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.35);
}
.login-wrapper h3 {
	border-bottom: solid 1px rgba(0,0,0,0.10);
	text-align: center;
	font-size: 24px;
	padding: 20px 10px;
}
.login-wrapper h3 span {
	display: block;
	font-size: 14px;
	line-height: 1.5;
}
.logo-login {
	padding: 40px 0;
	margin: 0 auto;
	display: block;
	text-align: center;
	position: relative;
	z-index: 5;
}
.form-login {
	max-width: 300px;
	margin: 45px auto;
}
.form-login form {
	border: none;
	padding: 0;
}
.form-login form .field-row {
	border-bottom: solid 1px rgba(0,0,0,0.12);
	display: table;
	width: 100%;
	margin-bottom: 15px;
	padding: 5px 0;
}
.form-login form .field {
	text-align: left;
}
.form-login form .icon-svg {
	display: inline-block;
	vertical-align: top;
	float: left;
	margin-right: 10px;
}
.form-login form .icon-svg svg {
	width: 24px;
	height: 25px;
	display: block;
}
.form-login form .icon-svg svg path, .form-login form .icon-svg svg circle {
	fill: rgba(0,0,0,0.4);
}
.form-login form input[type="text"], .form-login form input[type="password"], .form-login form input[type="email"] {
	border: none;
	background: none;
	color: #333333;
	font-size: 15px;
	padding: 0;
	margin: 0;
	text-align: left;
	font-family: 'Open Sans';
	width: calc(100% - 36px);
}
.form-login form input[type="text"]:focus, .form-login form input[type="password"]:focus, .form-login form input[type="email"]:focus {
	outline: none;
}
.form-login form input[type="submit"] {
	background: #f95e2e;
	border-radius: 2px;
	width: 100%;
	height: 40px;
	border: none;
	color: #fff;
	font-size: 17px;
	padding: 0px 10px;
	margin: 50px 0 0 0;
	text-align: center;
	font-family: 'Open Sans';
	cursor: pointer;
	position: relative;
}
.form-login form input[type="submit"]:hover {
	background: #df562c;
}
.form-login form input[type="submit"]:focus {
	background: #70ba22;
}
.form-login form input[type="checkbox"] {
	margin-left: 0;
	margin-right: 7px;
}
.forgot {
	display: block;
	text-align: center;
	font-size: 14px;
	padding: 20px 0;
}
.forgot a {
	color: rgba(0,0,0,0.5);
	text-decoration: none;
}
.forgot a:hover {
	color: rgba(0,0,0,0.8);
}

/* Added by Anuj Designer on 18-8-2016	*/
@media screen and (max-width:767px) {

.navbar-brand {
  overflow: hidden;
  width: 44px;
}
}


.add-slot td{ padding: 0 5px 5px 5px;}