/* forms css */



.siteForm input[type="text"], .siteForm input[type="email"], .siteForm input[type="phone"], .siteForm input[type="search"], .siteForm select, .siteForm textarea, .siteForm input[type="password"], .siteForm input[type="file"], .custom-filed {
	line-height: 100%;
	border-radius: 3px;
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #d1d1d1;
	height: 40px;
	vertical-align: middle;
	font-size: 14px;
	color: #7a7a7a;
	padding: 5px 10px;
	margin: 0 0 0 0;
	outline: none;
	font-family: 'Lato', sans-serif;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
.siteForm input[type="text"]:focus, .siteForm input[type="email"]:focus, .siteForm input[type="password"]:focus, .siteForm input[type="number"]:focus, .siteForm input[type="file"]:focus, .siteForm select:focus, .select-field:focus, .siteForm textarea:focus, .siteForm input.uploadFile:focus, input.input-field:focus, .custom-filed:focus {
	border-color: rgba(255, 156, 0, 0.8);
	outline: 0;
	-webkit-transition: .2s all ease-in-out;
	-moz-transition: .2s all ease-in-out;
	-o-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}
.siteForm input[type="submit"], .siteForm input[type="button"], .siteForm input[type="reset"], .siteForm button {
	border: none;
	padding: 0 20px 0;
	font-size: 15px;
	color: #fff;
	cursor: pointer;
	-webkit-transition: 0.3s all ease-in-out;
	-moz-transition: 0.3s all ease-in-out;
	-o-transition: 0.3s all ease-in-out;
	transition: 0.3s all ease-in-out;
	background: #ff9c00;
	text-transform: capitalize;
	height: 53px;
	line-height: 100%;
	font-weight: 700;
	border-radius: 3px;
	font-family: 'Lato', sans-serif;
}
.siteForm input[type="submit"]:hover, .siteForm button:hover {
	background: #2c67af;
}
.siteForm input[type="submit"]:focus, .siteForm input[type="button"]:focus, .siteForm input[type="reset"]:focus, .input-submit:focus, .input-reset:focus {
	-webkit-box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.33), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.33), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.33), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* grids */
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
}
.breadcrumb {
	background: #f2f2f2;
	padding: 0;
}
.breadcrumb ul, .shopbreadcrumb ul {
	margin: 0 auto;
	display: block;
	padding: 11px 0;
}
.breadcrumb ul li, .shopbreadcrumb ul li {
	color: #000;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 10px 0 5px;
}
.breadcrumb ul li:first-child, .shopbreadcrumb ul li:first-child {
	margin-left: 0px;
}
.breadcrumb ul li a, .shopbreadcrumb ul li a {
	color: #706e6e;
	position: relative;
}
.breadcrumb ul li a:hover, .shopbreadcrumb ul li a:hover {
	color: #727272;
}
.breadcrumb ul li a:after, .shopbreadcrumb ul li a:after {
	position: absolute;
	content: "/";
	right: -12px;
	top: 0;
}
.breadcrumb ~ .pageBar {
	border-top: none;
}
.page-head {
	display: table;
	width: 100%;
	padding: 25px 0;
}
.page-head .name {
	color: #000;
	font-size: 20px;
}
.page-head .name .showing {
	font-size: 13px;
	margin-left: 10px;
}
.sort {
	color: #737373;
	font-size: 13px;
}
.sort .custom-filed {
	display: inline-block;
	height: 35px;
	width: auto;
}
.sort .s-by {
	display: inline-block;
}
.main-area {
}
.left-panel {
	border: solid 1px rgb(231, 229, 230);
	border-radius: 3px;
}
.panel-heading {
	color: #000000;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 15px;
	line-height: 1;
}
.icn-arrow {
	background: url(../images/retina/arrow-top.svg) no-repeat 0 center;
	width: 12px;
	height: 12px;
	display: block;
	cursor: pointer;
}
.panel-list {
}
.panel-list ul {
}
.panel-list ul li {
	color: #4c4c4c;
	font-size: 14px;
	display: block;
}
.panel-list ul li a {
	display: block;
	color: #4c4c4c;
	font-size: 14px;
	padding: 10px 15px;
}
.panel-list ul li span.count {
	margin-left: 5px;
}
.panel-list ul li a:focus, .panel-list ul li a:hover {
	background: #ff7348;
	color: #fff;
}
.panel-list ul li a:focus span.count, .panel-list ul li a:hover span.count {
	color: #fff;
}
.divider {
	background: rgb(231, 229, 230);
	height: 1px;
	display: block;
}
.price-range {
	margin: 10px 0;
	text-align: center;
}
.search-brands {
	padding: 0 15px;
	margin-bottom: 15px;
}
.search-brands form {
	border: solid 1px #d8d8d8;
	border-radius: 2px;
	height: 32px;
	width: 100%;
}
.search-brands input[type="text"] {
	border: none;
	height: 28px;
	padding: 3px 5px;
	line-height: 1.5;
	font-family: 'Lato', sans-serif;
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 40px);
}
.search-brands input[type="search"] {
	border: none;
	height: 32px;
	width: 32px;
	line-height: 100%;
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px;
	font-size: 15px;
	color: gray;
	background: url(../images/srch-icon.png) no-repeat center center;
}
.head-bar {
	border: 1px solid rgb(231, 229, 230);
	border-radius: 3px;
	padding: 15px;
	display: table;
	width: 100%;
	margin-bottom: 15px;
}
.head-bar .title {
	color: #000;
	font-size: 20px;
	font-weight: 600;
}
.display-view {
	text-transform: uppercase;
	font-size: 13px;
}
.display-view .icn {
	border: 1px solid #e7e5e6;
	border-radius: 2px;
	display: inline-block;
	height: 28px;
	text-align: center;
	vertical-align: middle;
	width: 28px;
	padding: 5px 0;
	margin-left: 4px;
}
.display-view .icn.active {
}
.display-view .icn svg path {
	fill: #777;
}
.display-view .icn.active, .display-view .icn:hover {
	border: 1px solid #ff7348;
}
.display-view .icn.active svg path, .display-view .icn:hover svg path {
	fill: #ff7348;
}
/***/
.padd15 {
	padding: 15px;
}
.product-detail {
	margin-top: 40px;
}
.desc-side {
	border: solid 1px #edecec;
	border-radius: 2px;
}
.desc-side .gray-bg {
	padding: 40px 15px;
}
.desc-side .name {
	font-size: 30px;
	color: #000;
	margin-bottom: 10px;
}
.stock {
	margin-bottom: 10px;
	font-size: 12px;
}
.stock.in-stock {
	display: inline-block;
	vertical-align: top;
	line-height: 1;
}
.stock.out-stock {
	color: rgba(255,0,4,1.00);
}
.stock.in-stock .icn {
	margin-right: 5px;
	background-size: contain;
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: top;
}
.stock.in-stock .icn {
	background: url(../images/retina/check.svg) no-repeat 0 0;
}
.stock.out-stock .icn {
	background: url(../images/retina/check.svg) no-repeat 0 0;
}
.review {
	margin-bottom: 10px;
	font-size: 13px;
}
.review .rating {
	vertical-align: top;
	margin: 0;
}
.review .rating li {
	margin: 0 1px;
}
.review a {
	color: #f95e2e;
}
.gray-bg {
	background: #f7f7f7;
}
.desc-left {
	display: table-cell;
	float: none;
	width: 50%;
}
.price {
	color: #f95e2e;
	font-size: 33px;
	font-weight: 600;
}
.quantity {
	display: inline-block;
	margin-top: 20px;
}
.quantity ul {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	border: solid 1px #edecec;
	border-radius: 2px;
}
.quantity ul li {
	display: inline-block;
	height: 40px;
	vertical-align: middle;
	padding: 10px;
	font-size: 15px;
}
.quantity ul li.minus, .quantity ul li.plus {
	background: #f2f2f2;
	cursor: pointer;
	font-size: 23px;
	line-height: 0.5;
}
.desc-right {
	display: table-cell;
	width: 50%;
	padding: 0 30px;
	text-align: center;
}
.desc-right a {
	margin-bottom: 10px;
}
a.addtocart-btn, .addtocart-btn {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	min-width: 223px;
	padding: 10px 25px;
	text-align: center;
	border-radius: 2px;
	display: table;
}
.addtocart-btn.small {
	font-size: 13px;
	font-weight: 400;
}
.addtocart-btn.small svg {
	width: 20px;
	height: 20px;
}
a.addtocart-btn .cartIcon, .addtocart-btn .cartIcon {
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}
a.addtocart-btn svg, .addtocart-btn svg {
	width: 22px;
	height: 22px;
	display: inline-block;
}
a.addtocart-btn svg path, .addtocart-btn svg path {
	fill: #fff;
}
a.addtocart-btn.green, .addtocart-btn.green {
	background: #70ba22;
}
a.addtocart-btn.green:hover, .addtocart-btn.green:hover {
	background: #f95e2e;
}
a.addtocart-btn.gray, .addtocart-btn.gray {
	background: #e6e6e6;
	color: #626262;
}
a.addtocart-btn.gray svg path, .addtocart-btn.gray svg path {
	fill: #626262;
}
a.addtocart-btn.gray:hover, .addtocart-btn.gray:hover {
	background: #f95e2e;
	color: #fff;
}
a.addtocart-btn.gray:hover svg path, .addtocart-btn.gray:hover svg path {
	fill: #fff;
}
.order-above .icn {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.order-above .icn svg {
	width: 25px;
	height: 25px;
}
.order-above .icn svg path {
	fill: #9b9a9a;
}
.share {
	display: inline-block;
	vertical-align: top;
	margin: 10px 0;
}
.share img {
	display: inline-block;
	vertical-align: middle;
}
.about-product {
	margin-top: 45px;
	font-size: 15px;
	line-height: 1.5;
	border: 1px solid #edecec;
}
.about-product h2 {
	padding: 10px 15px;
	color: #000;
	font-size: 18px;
	font-weight: 600;
	background: #f7f7f7;
}
.about-product h3 {
	padding: 10px 0;
	color: #000;
	font-size: 18px;
	font-weight: 600;
}
.about-product p {
	padding: 5px 0;
}
.about-product .divider {
	margin: 15px 0;
}
.about-product li {
	margin: 5px 0;
}
.about-product .cell {
	width: 50%;
	padding: 15px;
	display: table-cell;
}
.about-product table {
	width: 100%;
}
.about-product table th {
	line-height: 1.5;
	padding: 10px;
	font-size: 16px;
	font-weight: 600;
	background: #f7f7f7;
	text-align: left;
}
.about-product table td {
	line-height: 1.5;
	padding: 10px;
	text-align: left;
	border-bottom: dotted 1px #edecec;
}
.about-product table th:last-child, .about-product table td:last-child {
	text-align: right;
}
.about-product .cell:last-child {
	border-left: solid 1px #edecec;
}
.double-list li {
	display: inline-block;
	width: 49%;
}
.cust-review {
	margin: 38px 0;
}
.stars-rating {
	position: relative;
	margin: 25px 0;
	max-width: 200px;
	vertical-align: top;
}
.stars-rating:before {
	background: url(../images/rating-before.png) no-repeat 0 0;
	content: "";
	width: 20px;
	height: 124px;
	display: block;
	left: -20px;
	top: 0;
	position: absolute;
}
.stars-rating:after {
	background: url(../images/rating-after.png) no-repeat 0 0;
	content: "";
	width: 20px;
	height: 124px;
	display: block;
	right: 0px;
	top: 0;
	position: absolute;
}
.stars-rating li {
	margin: 4px 0;
	display: table;
	width: 100%;
}
.stars-rating .u-str {
	display: inline-block;
	font-size: 14px;
	margin: 0 10px;
}
.stars-rating .prog {
	background: #d9d9d9;
	width: 67px;
	height: 7px;
	display: inline-block;
}
.stars-rating .prog .f-cl {
	background: #f99c2e;
	height: 7px;
	display: table;
}
.stars-rating .t-star {
	color: #f99c2e;
	font-size: 13px;
	font-weight: 600;
	display: inline-block;
	margin: 0 10px;
}
.recommend-friend {
	margin: 50px auto;
	text-align: center;
	max-width: 305px;
}
.recommend-friend p {
	font-size: 14px;
	line-height: 2.5;
}
.recommend-friend .recc-prog {
	background: #d9d9d9;
	height: 24px;
	border-radius: 4px;
	overflow: hidden;
}
.recommend-friend .recc-prog span {
	background: #f99c2e;
	height: 24px;
	display: table;
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 1.5;
}
.btn-wrap-align {
	margin: 50px auto;
	text-align: center;
}
.btn-wrap-align a {
	display: inline-block;
	float: right;
}
.review-thread > ul > li {
	border-bottom: solid 1px #edecec;
	display: table;
	width: 100%;
}
.review-thread > ul > li.paging {
	padding: 10px 0;
}
.review-thread .head {
	display: table;
	width: 100%;
	padding: 15px 0;
}
.review-thread .heading, .heading {
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	padding: 0;
}
.heading {
	padding: 15px 0;
}
.review-thread .rating > ul {
	display: inline-block;
}
.review-thread .rating p {
	font-size: 14px;
	vertical-align: middle;
}
.review-thread .desc {
	line-height: 1.5;
}
.inline {
	display: inline-block;
}
.helpfull {
	display: inline-block;
	margin: 20px 0;
}
.helpfull strong {
	display: inline-block;
	margin-right: 10px;
}
.helpfull .thumb {
	display: inline-block;
	margin: 0 10px;
}
.helpfull .thumb .wrap {
	font-size: 14px;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 2px;
}
.helpfull .thumb.yes .wrap {
	background: #70ba22;
	color: #fff;
}
.helpfull .thumb.no .wrap {
	background: #d9d9d9;
	color: #000;
}
.helpfull .thumb.yes .wrap svg path {
	fill: #fff;
}
.helpfull .thumb .wrap .icn {
	margin-left: 5px;
}
a.link {
	color: #f95e2e;
	font-size: 14px;
}
a.link .icn svg path {
	fill: #f95e2e;
}
a.link:hover, a.link:hover .icn svg path {
	fill: #000;
	color: #000;
}
.write-form .siteForm input {
	margin: 10px 0;
}
.write-form table td {
	padding: 10px 0;
}
.write-form .lable {
	color: #000;
	font-size: 17px;
	font-weight: 600;
}
.pro-rating {
	display: block;
}
.pro-rating .nor-txt {
	padding: 15px 20px 0 0;
}
.strenth {
	padding: 15px 0 0 15px;
	display: inline-block;
	font-size: 17px;
	font-weight: 600;
	vertical-align: middle;
}
.strenth.poor {
	color: #e01212;
}
.product-rating {
}
.product-rating li svg {
	width: 20px;
	height: 20px;
}
.product-rating li {
	border: 1px solid #cccccc;
	border-radius: 2px;
	height: 34px;
	padding: 6px 0;
	text-align: center;
	width: 34px;
	cursor: pointer;
}
.product-rating li svg path {
	fill: #b3b3b3;
}
.product-rating li.selected {
	border-color: #f99c2e;
	background: #f99c2e;
}
.product-rating li.selected svg path {
	fill: #fff;
}
.nor-txt {
	display: inline-block;
	vertical-align: middle;
}
.recommend-txt {
	margin: 25px 0 0 0;
	display: inline-block;
}
.recommend-txt .radio-wrap {
	margin-left: 15px;
}
.radio-wrap {
	display: inline-block;
}
.radio-wrap li {
	display: inline-block;
	margin-right: 10px;
}
.agree {
	margin: 10px 0;
}
.cart-listing {
}
.cart-listing > ul {
	border: 1px solid #e7e5e6;
	border-radius: 3px;
}
.cart-listing > ul > li {
	border-bottom: 1px solid #e7e5e6;
}
.cart-listing > ul > li:last-child {
	border-bottom: none;
}
.cart-listing > li .productBox {
	display: table;
	width: 100%;
}
.cart-listing .imgBlock {
	width: 20%;
	display: table-cell;
}
.cart-listing .productImg {
	height: 100%;
}
.cart-listing .imgBlock a img {
	display: block;
	max-width: 100%;
	border-radius: 2px;
	height: 100%;
	margin: 0 auto;
	object-fit: none;
	width: 100%;
}
.cart-listing .desc-wrap {
	width: 60%;
}
.cart-listing .price-btn-wrap {
	width: 20%;
	text-align: right;
}
.cart-listing .price-btn-wrap a.link {
	margin-top: 50px;
	display: inline-block;
}
.cart-listing .price-btn-wrap .priceblock {
	display: block;
}
.cart-listing .current-price {
	font-size: 20px;
	color: #f95e2e;
	display: block;
}
.cros-price {
	text-decoration: line-through;
}
.place-order-wraper {
	border: 1px solid #edecec;
	border-radius: 3px;
}
.place-order-wraper .heading {
	border-bottom: 1px solid #edecec;
	background: #f7f7f7;
	padding: 12px 15px;
}
.order-summary {
}
.order-summary h3 {
	color: #000;
	font-size: 18px;
	padding: 10px 15px;
}
.order-summary ul li {
	display: table;
	width: 100%;
	font-size: 14px;
	padding: 5px 15px;
}
.order-summary ul li span:first-child {
	color: #000;
}
.order-summary ul li.netpay {
	font-size: 20px;
	font-weight: 600;
	color: #000;
	padding: 15px;
	border-bottom: 1px solid #edecec;
	border-top: 1px solid #edecec;
}
.order-summary ul li.netpay span {
	color: #000;
}
.checkout-btn p {
	font-size: 13px;
	padding-bottom: 10px;
}
.checkout-btn a {
	display: block;
}
.backto {
	margin: 25px auto 15px auto;
}
.right-wrap {
	position: relative;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
}
.right-wrap.sticky {
	position: fixed;
	top: 0;
	z-index: 1;
	background: rgba(255,255,255,0.80);
	width: 273px;
}
